@tailwind base;
@tailwind components;
@tailwind utilities;

.blue {
  @apply .bg-button .text-white ;
}
.card{
  @apply .bg-card .rounded-lg .p-5 .shadow;
}

:root{
  --page-background-color:red;
  --card-background-color:white;
  --button-background-color:blue;
}